@import "../variables.less";

#form{
    margin:54px 0;
    > div{

        .flex(space-between);
        h2{

            margin: 0 16px;

        }
        span{
            display: block;
            flex-grow: 1;
            height:1px;
            background: @gray-color;
        }

    }

    form{

        .form-group{
            
            display: grid;
            grid-template-columns: 35% 65%;
            grid-template-rows: auto;
            padding: 21px 52px;
            .font-size(1.22);
            margin: 0;
            position: relative;
            input{
                .font-size(1.22);
            }
            > span{
                .overflow();
                width:100%;
                padding:5px 17px;
            }

            .next-btn{

                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                    
                width:100%;
                
                box-sizing: border-box;
                display: grid;
                grid-template-columns: 25% 75%;
                grid-template-rows: 100%;
                
                margin: 27px 0;
                
                button{
                    margin: 0 28px 0 0;
                    .font-size(1.22);
                    display: inline;
                    
                }
                div{
                    .flex(flex-start);
                    .form-state-info{
                        display: inline-block;
                        .font-size();
                        color: darken(@gray-color,50);

                    }
                }
    
            }

            .form-info{

                .font-size();
                position: absolute;
                top:70%;
                left:35%;
                color: transparent;
                .transition();
                &.active{

                    color: darken(@gray-color,50);

                }

            }

            #contact-info{
                width:100%;
                display: grid;
                padding:0;
                grid-template-columns: 27% 27.5% 41%;
                grid-template-rows: repeat(auto-fill, 4);
                grid-template-areas: 
                "city city country"
                "index postal postal"
                "tel tel tel"
                "email email email";
                grid-gap:17px 9px;

                input{

                    width:auto;
                    &[name="city"]{

                        grid-area: city;

                    }
                    &[name="country"]{

                        grid-area: country;

                    }
                    &[name="index"]{

                        grid-area: index;

                    }
                    &[name="postal"]{

                        grid-area: postal;

                    }
                    &[name="tel"]{

                        grid-area: tel;

                    }
                    &[name="email"]{

                        grid-area: email;

                    }

                }
            }
        }
        
        
    }

}